## Group by

https://github.com/guipsamora/pandas_exercises/blob/master/03_Grouping/Regiment/Exercises.ipynb

### Step 1. Import libraries and data

In [1]:
import numpy as np
import pandas as pd
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}
regiment = pd.DataFrame(raw_data)
regiment.head()

  company      name  postTestScore  preTestScore    regiment
0     1st    Miller             25             4  Nighthawks
1     1st  Jacobson             94            24  Nighthawks
2     2nd       Ali             57            31  Nighthawks
3     2nd    Milner             62             2  Nighthawks
4     1st     Cooze             70             3    Dragoons

### Step 2. What is the mean preTestScore from the regiment Nighthawks?

In [2]:
regiment[regiment['regiment'] == 'Nighthawks']['postTestScore'].mean()

59.5

### Step 3. Present general statistics by company

In [3]:
regiment.groupby('company').describe()

               postTestScore  preTestScore
company
1st     count       6.000000      6.000000
        mean       57.666667      6.666667
        std        27.485754      8.524475
        min        25.000000      2.000000
        25%        34.250000      3.000000
        50%        66.000000      3.500000
        75%        70.000000      4.000000
        max        94.000000     24.000000
2nd     count       6.000000      6.000000
        mean       67.000000     15.500000
        std        14.057027     14.652645
        min        57.000000      2.000000
        25%        58.250000      2.250000
        50%        62.000000     13.500000
        75%        68.000000     29.250000
        max        94.000000     31.000000

### Step 4. What is the mean each company's preTestScore?

In [4]:
regiment.groupby('company')[['preTestScore']].mean()

         preTestScore
company
1st          6.666667
2nd         15.500000

### Step 5. Present the mean preTestScores grouped by regiment and company

In [5]:
regiment.groupby(['regiment', 'company'])[['preTestScore']].mean()

                    preTestScore
regiment   company
Dragoons   1st               3.5
           2nd              27.5
Nighthawks 1st              14.0
           2nd              16.5
Scouts     1st               2.5
           2nd               2.5

### Step 6. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [6]:
regiment.groupby(['regiment', 'company'])[['preTestScore']].mean().unstack()

           preTestScore
company             1st   2nd
regiment
Dragoons            3.5  27.5
Nighthawks         14.0  16.5
Scouts              2.5   2.5

### Step 7. Group the entire dataframe by regiment and company

In [7]:
regiment.groupby(['regiment', 'company'])

### Step 8. What is the number of observations in each regiment and company

In [8]:
regiment.groupby(['regiment', 'company']).size()

regiment    company
Dragoons    1st        2
            2nd        2
Nighthawks  1st        2
            2nd        2
Scouts      1st        2
            2nd        2
dtype: int64

### Step 9. Iterate over a group and print the name and the whole data from the regiment

In [9]:
for key, value in regiment.groupby(['regiment']):
    print(key)
    print(value)

Dragoons
  company    name  postTestScore  preTestScore  regiment
4     1st   Cooze             70             3  Dragoons
5     1st   Jacon             25             4  Dragoons
6     2nd  Ryaner             94            24  Dragoons
7     2nd    Sone             57            31  Dragoons
Nighthawks
  company      name  postTestScore  preTestScore    regiment
0     1st    Miller             25             4  Nighthawks
1     1st  Jacobson             94            24  Nighthawks
2     2nd       Ali             57            31  Nighthawks
3     2nd    Milner             62             2  Nighthawks
Scouts
   company   name  postTestScore  preTestScore regiment
8      1st  Sloan             62             2   Scouts
9      1st  Piger             70             3   Scouts
10     2nd  Riani             62             2   Scouts
11     2nd    Ali             70             3   Scouts