## Access and Deletion

https://github.com/guipsamora/pandas_exercises/blob/master/10_Deleting/Iris/Exercises.ipynb

### Step 1. Import libraries and data

In [1]:
import os
import numpy as np
import pandas as pd
os.chdir('C:/Users/Bangda/Desktop/pandas/practice')
iris = pd.read_table('iris.data.txt', sep = ',', header = None)
iris.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

### Step 2. Create columns for the dataset
#### 1. sepal_length (in cm)
#### 2. sepal_width (in cm)
#### 3. petal_length (in cm)
#### 4. petal_width (in cm)
#### 5. class

In [2]:
iris.columns = ['sepal_length (in cm)', 'sepal_width (in cm)', 'petal_length (in cm)',
                'petal_width (in cm)', 'class']

### Step 3. Is there any missing value in the dataframe?

In [3]:
iris.isnull().sum()

sepal_length (in cm)    0
sepal_width (in cm)     0
petal_length (in cm)    0
petal_width (in cm)     0
class                   0
dtype: int64

### Step 4. Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [4]:
iris.loc['10':'29', 'petal_length (in cm)'] = np.nan

### Step 5. Good, now lets substitute the NaN values to 1.0

In [5]:
iris['petal_length (in cm)'].fillna(1.0, inplace = True)

### Step 6. Now let's delete the column class

In [6]:
del iris['class']

### Step 7. Set the first 3 rows as NaN

In [7]:
iris.iloc[:3, ] = np.nan

### Step 8. Delete the rows that have NaN

In [8]:
iris.dropna(axis = 0, how = 'any').head()

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
3,4.6,3.1,1.0,0.2
4,5.0,3.6,1.0,0.2
5,5.4,3.9,1.0,0.4
6,4.6,3.4,1.0,0.3
7,5.0,3.4,1.0,0.2

### Step 9. Reset the index so it begins with 0 again

In [9]:
iris = iris.reset_index(drop = True)
iris.head()

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,4.6,3.1,1.0,0.2
4,5.0,3.6,1.0,0.2