In [1]:
"""

    Data manipulation using pandas, use iris data as an example
    
"""
import numpy as np
import pandas as pd

iris = pd.read_csv("C://Users//Bangda//Desktop//iris.csv", index_col = 0)
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [2]:
### Get the summary of data frame. Notice that Species is not returned, it's a categorical variable
iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [3]:
### Select variables - Extract columns as sub data frame
length = iris[['Sepal.Length', 'Petal.Length']]
length.head()

   Sepal.Length  Petal.Length
1           5.1           1.4
2           4.9           1.4
3           4.7           1.3
4           4.6           1.5
5           5.0           1.4

In [9]:
### Filter observations - Extract rows as sub data frame
larger_length = np.logical_and(iris['Sepal.Length'] > 5.8, iris['Petal.Length'] > 4.35)
larger_length_df = iris[larger_length]
larger_length_df.head()

    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
51           7.0          3.2           4.7          1.4  versicolor
52           6.4          3.2           4.5          1.5  versicolor
53           6.9          3.1           4.9          1.5  versicolor
55           6.5          2.8           4.6          1.5  versicolor
57           6.3          3.3           4.7          1.6  versicolor

In [6]:
### Group by categorical variable and compute summary statistics
iris.groupby('Species').mean()

            Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026